* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partial";

body {
  background: url("../assets/background-stars.svg"), $black;
}

//  NAV BAR STYLES - START

header {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  transition: all 0.5s ease-out;
  width: 100%;
}

.logo {
  font-family: "Antonio", sans-serif;

  color: $white;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-top: 2rem;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.middle {
  height: 3px;
  width: 1.875rem;
  background-color: $white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.top {
  bottom: 5px;
  height: 3px;
  width: 1.875rem;
  background-color: $white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

.bottom {
  top: 10px;
  height: 3px;
  width: 1.875rem;
  background-color: $white;
  border-radius: 3.125rem;
  position: absolute;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ .toggle-button .top {
  transform: rotate(-50deg);
  width: 1.56rem;
  transform-origin: right;
  top: -10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .bottom {
  transform: rotate(50deg);
  width: 1.56rem;
  transform-origin: right;
  top: 10px;
  background-color: white;
}

input[type="checkbox"]:checked ~ .toggle-button .middle {
  transform: translateX(-20px);
  opacity: 0;
}

.navbar__links {
  width: 100vw;
}

.divider {
  border-color: #979797;
}

.svg {
  position: relative;
}

.inner-div {
  display: flex;
}
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .mobile-nav-svg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 135px;
  }

  .navbar--btn-mobilemenu {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 173px;
    padding: 1.3rem;
    border-radius: 50px;
    margin: 0 auto;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
  }

  .navbar__links--ul {
    flex-direction: column;
    justify-content: space-between;
    display: none;
    max-height: 0;
    transition: max-height 100ms ease-in-out;
  }

  .navbar__links--ul.toggle {
    margin: 0 auto;
    font-family: $spartan-bold, sans-serif;
    font-size: 15px;
    color: #ffff;
    letter-spacing: 0.5px;
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 1000px;
    transition: max-height 400ms ease-in-out;
  }

  .navbar__links--li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
  }

  .mercury-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #def4fc;
    margin-right: 1rem;
  }
  .venus-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #f7cc7f;
    margin-right: 1rem;
  }

  .earth-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #545bfe;
    margin-right: 1rem;
  }

  .mars-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #ff6a45;
    margin-right: 1rem;
  }

  .jupiter-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #ecad7a;
    margin-right: 1rem;
  }

  .saturn-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #fccb6b;
    margin-right: 1rem;
  }

  .uranus-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #65f0d5;
    margin-right: 1rem;
  }

  .neptune-oval {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #497efa;
    margin-right: 1rem;
  }
}

//  NAV BAR STYLES - END

// MOBILE CALL TO ACTION BUTTONS

.mobile__CTA {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #979797;
  &--btn {
    position: relative;
    margin-top: 1rem;
    background: transparent;
    color: #979797;
    font-family: $spartan-bold, sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    width: 100px;
    border: none;
  }
}

.active {
  color: white;
  border-bottom: 5px solid $purple;
  padding-bottom: 1rem;
}

.test-div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 279px;
}

//  MOBILE CALL TO ACTION -END

// PLANET IMAGE STYLING - START

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.planet-img {
  width: 173px;
  height: 173px;
}

.planet-geoImg {
  display: none;
}

.geology {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.planet-name {
  font-family: "Antonio", sans-serif;

  font-size: 2.5rem;
  color: $white;
  text-transform: uppercase;
}

.planet-description {
  font-family: $spartan-reg, sans-serif;
  font-size: 11px;
  line-height: 22px;
  color: $white;
  text-align: center;
  width: 327px;
}

.wiki-source {
  font-family: $spartan-reg, sans-serif;
  font-size: 12px;
  color: hsl(0, 0, 50%);
}

.wiki-a {
  font-family: $spartan-bold, sans-serif;
  font-size: 12px;
  color: hsl(0, 0, 50%);
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 327px;
  height: 216px;
  margin: 0 auto;
}

.info-div {
  display: flex;
  width: 327px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0, 0, 50%);
}

.info-style {
  font-family: "Antonio", sans-serif;
  color: $white;

  font-size: 20px;
}

.span-style {
  font-family: $spartan-bold, sans-serif;
  font-size: 8px;
  color: hsl(0, 0, 50%);
  letter-spacing: 0.73px;
}
